/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

bbody {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #4c4c7d;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 25%; /* Adjust width as needed */
    background-color: #f4f4f4;
    padding: 20px;
    overflow-y: auto;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

/* Search Section */
#search-section {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

#city-search-form input[type='text'] {
    width: calc(100% - 110px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}

#city-search-form button {
    width: 100px;
    background-color: #1a73e8;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Search History */
#search-history {
    list-style: none;
    padding: 0;
}

#search-history li {
    background-color: #f7f7f7;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    cursor: pointer;
}

/* Weather Display */
#weather-display {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

/* Current Weather */
#current-weather {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

/* Forecast Cards */
#forecast-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 20px;
}

.forecast-card {
    text-align: center;
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 15px 10px;
}

.forecast-card img {
    max-width: 50px;
    margin-bottom: 8px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #city-search-form input[type='text'] {
        width: calc(100% - 120px);
    }

    #forecast-cards {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
}
.city-icon {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}