/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #4c4c7d;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 45px;
}

/* Layout */
.container {
    display: flex;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; 
    background-color: #f5f5f5;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

/* Search Section */
.search-container {
    text-align: center;
}

.search-container input[type="text"] {
    padding: 10px;
    margin-bottom: 8px; 
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 80%; 
    max-width: 400px; 
}

.search-container button {
    margin: 2px; 
    padding: 10px;
    max-width: 408px; 
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #0056b3;
}
/* Search History */
#search-history {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#search-history li {
    background-color: #007bff; 
    color: white; 
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px; 
    cursor: pointer;
    transition: background-color 0.3s; /
}

#search-history li:hover {
    background-color: #0056b3; 
}

/* Weather and Forecast Display */
.weather-card, .forecast-card {
    background-color: darkslateblue;
    color: whitesmoke;
    text-align: center;
    border-radius: 8px;
    padding: 15px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 20px; 
}

.weather-card, .forecast-card {
    margin-bottom: 20px;
}

/* Weather Cards */
#weather-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(332px, 10px));
    grid-gap: 20px;
}

.weather-card img {
    max-width: 50px;
    margin-bottom: 8px;
}
/* Forecast Cards */
#forecast-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 20px;
}

.forecast-card img {
    max-width: 50px;
    margin-bottom: 8px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {

    .main-content {
        padding: 20px 10px;
    }

    #forecast-cards {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }

    #weather-card {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }

    #city-search-form input[type='text'] {
        width: calc(100% - 120px);
    }
}
